image: docker:20.10.12

variables:
  # When using dind service, you must instruct docker to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # If you're using GitLab Runner 12.7 or earlier with the Kubernetes executor and Kubernetes 1.6 or earlier,
  # the variable must be set to tcp://localhost:2375 because of how the
  # Kubernetes executor connects services to the job container
  # DOCKER_HOST: tcp://localhost:2375
  #
  DOCKER_HOST: tcp://docker:2375
  #
  # This instructs Docker not to start over TLS.
  DOCKER_TLS_CERTDIR: ""
  # enaable buildkit for chomod
  DOCKER_BUILDKIT: 1

  # GITLAB docker current registry user name and password
  DOCKER_USER: ${CI_REGISTRY_USER}
  DOCKER_TOKEN: ${CI_REGISTRY_PASSWORD}

services:
  - docker:20.10.12-dind

stages:
  - test
  - build

test_image:
  stage: test
  tags:
    - openstack-autoscale-theta-docker-in-docker
  variables:
    DOCKER_USER: ${GITLAB_DOCKER_USER}
    DOCKER_TOKEN: ${GITLAB_DOCKER_TOKEN}
  script:
    - /bin/sh test.sh $APPLICATION_NAME
  rules:
    - if: '$APPLICATION_NAME != "empty" && $BUILD_OR_TEST == "test"'

build_image:
  stage: build
  tags:
    - openstack-autoscale-theta-docker-in-docker
  script:
    - /bin/sh build.sh $APPLICATION_NAME
  rules:
    - if: '$APPLICATION_NAME != "empty" && $BUILD_OR_TEST == "build" && $CI_COMMIT_BRANCH == "main"'