name: Build and Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest
    name: Test changed files
    outputs:
      apps: ${{ steps.changed-applications.outputs.apps }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v20.2
        with:
          files_ignore: |
            *.yml
            *.png
            *.sh
            *.md
            .github/**

      - name: Find changed applications
        id: changed-applications
        run: |
          applications=()
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            applications+=(${file%%/*})
          done
          sorted_applications=($(printf "%s\n" "${applications[@]}" | sort -u))
          apps=$(printf "\"%s\"ï¼Œ" "${sorted_applications[@]}")
          apps=${apps::-1}
          echo "Changed applications: $apps"
          echo "::set-output name=apps::[ $apps ]"
          echo ${{ steps.changed-applications.outputs.apps }}
  
  build:
    runs-on: ubuntu-latest
    name: Build Docker images
    needs: changes
    if: needs.changes.outputs.apps != '[]'
    strategy:
      fail-fast: false
      matrix:
        apps: ["${{ fromJson(needs.changes.outputs.apps) }}"]
    steps:
      - uses: actions/checkout@v3

      - name: test1
        run: |
          echo ${{needs.changes.outputs.apps}}
          echo ${{ matrix.apps }}
