name: Build and Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  changes:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Test changed files
    outputs:
      apps: ${{ steps.changed-applications.output.apps }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v20.2
        with:
          files_ignore: |
            *.yml
            *.png
            *.sh
            *.md
            .github/**

      - name: Find changed applications
        id: changed-applications
        run: |
          applications=()
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            applications+=(${file%%/*})
          done
          sorted_applications=($(printf "%s\n" "${applications[@]}" | sort -u))
          echo "${sorted_applications[@]}"
          echo "::set-output name=apps::green"
  
  build:
    runs-on: ubuntu-latest
    name: Build images
    needs: changes
    steps:
      - uses: actions/checkout@v3

      - name: test1
        run: echo ${{ needs.changes.outputs.apps }}
